<div class="dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="userDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <span class="material-icons">person</span>
  </a>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
    <li><a class="dropdown-item" href="#">Perfil</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
  </ul>
</div>
